.topbar {
    background-color: #333;
    color: white;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: 100;
  }
  
  nav ul {
    list-style: none;
    display: flex;
  }
  
  nav ul li {
    margin-right: 20px;
    cursor: pointer;
  }
  
  nav ul li:hover {
    text-decoration: underline;
  }