  .topbar {
    background-color: #6e6d8e;
    color: white;
    padding: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: 100;
    white-space: nowrap;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 100;
  }
  
  nav ul {
    list-style: none;
    display: flex;
  }
  
  nav ul li {
    margin-right: 20px;
    cursor: pointer;
  }
  
  nav ul li:hover {
    text-decoration: underline;
  }