

table tbody tr td {
  border: 1px solid black;
  text-align: left;
  font-size: small;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 0.5rem;
  outline: 2px;
  border-collapse: collapse;
}

.servertable tbody tr td thead{
  border: 1px solid black;
  text-align: left;
  font-size: small;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 0.5rem;
  outline: 2px;
  border-collapse: collapse;
}

thead {
  background-color: #ccc;
  color: #222;
  border: 1px solid;
  font-size: small;
}

.table th{
  padding: 0.8rem;
  border-top: 0.5px solid #ddd;
  overflow: hidden;
  text-overflow: ellipsis;
  border: 1px solid;
} 


.table tbody tr {
  border: 1px solid;
} */

.column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #faf9f6;
}

.caption
{
  color: rgb(170, 170, 180);
  font-size: x-large;
}

.header
{
  font-size: xx-small;
  text-align: left;
  color: #2d0bb6;
}


/* Login Css */
